{
  "parser": "@typescript-eslint/parser",
  // "plugins": [
  //   "react-hooks"
  // ],
  "extends": [
    // "plugin:@typescript-eslint/recommended",
    "taro"
  ],
  "parserOptions": {
    "ecmaVersion": 2017, // 启用ES8语法支持
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "useJSXTextNode": true,
    "project": "./tsconfig.json"
  },
  "rules": {
    "no-unused-vars": [
      "error",
      {
        "varsIgnorePattern": "Taro"
      }
    ],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx",
          ".tsx"
        ]
      }
    ]
  },
  // "env": {
  //   "node": true,
  //   "browser": true,
  //   "commonjs": true,
  //   "es6": true,
  //   "jquery": true
  // },
  "globals": {
    "wx": true
  }
}
