
$color-brand: #37B13F;
$color-brand-light: #79E380;
$color-brand-dark: #0A5E0F;

 /* Text Color */
 $color-text-secondary: #5D74B1; // 辅助色
 $color-text-secondary2: #E1C746; // 辅助色


 /* 改变主题变量，具体变量名可查看 taro-ui/dist/style/variables/default.scss 文件 */
// 注意：要用相对路径引用 node_modules 包文件，否则 scss/color 这些插件将无法使用。
@import '../../../node_modules/taro-ui/dist/style/variables/default.scss';
/* Mixin */
@import '../../../node_modules/taro-ui/dist/style/mixins/index.scss';



/*
 主色:    #37B13F		#3D9B44		#229229		#4EC456		#5CC462  #79E380  #0A5E0F
辅助色 A: #3B5397		#3D5084		#243C7D		#526CB1		#5D74B1
辅助色 B: #E1E146		#C5C54E		#BABA2B		#E8E85C		#E8E86C #E1C746
互补色:   #E14A46		#C5514E		#BA2F2B		#E8605C		#E86F6C
 */

 $color-page-bg: $color-grey-5; // 页面背景色
 $color-line-protruding: #ffd56a; // 分隔线突出色
 $color-icon-protruding: #ffbf0f; // 图标突出色
 $color-girl: rgba(255, 224, 203, 0.6); // 图标突出色

