
@import '../../assets/style/theme.scss';
/* Flex Item */
@mixin flex-n($col: 1, $offset:0) {
  width: 100%;
  display: block;
  white-space: nowrap;
  box-sizing: border-box;

  $width: ($col / 12) * 100%;
  @include flex(0, 0, $width);
  max-width: $width;

  @if $offset > 0 {
    margin-left: ($offset / 12) * 100%;
  }
}

.admin-create-student{

  background-color: $color-bg;

  padding: 0 $spacing-h-xl $spacing-h-xl $spacing-h-xl;

  &__item{

    &:first-child{
      padding: $spacing-v-xl $spacing-v-xl $spacing-v-xl 0;
      position: relative;

      .at-avatar{
        position: absolute;
        top: $spacing-v-md;
        right: 0;
      }
    }

    // 匹配前4个子对象
    &:nth-child(-n+4){
      border-bottom: 1PX $color-border-light solid;
    }

    &:last-child{
      @include display-flex();
      width: 100%;
      @include justify-content(space-around);

      & > View{
        @include flex-n(5);
      }
    }
  }



  .at-input{
    margin-left: 0;
    text-align: right;
    &::after{
      border: none;
    }
    &__input{
      padding-right: 0;
    }
  }

  .at-radio{
    @include display-flex();
    &::after{
      border: none;
    }
    &::before{
      border: none;
    }
    &__option{
      @include flex(1);
      padding: 0;

      &-wrap{
        padding-top: 0;
        padding-bottom: 0;
        &::after{
          border: none !important;
        }
      }
    }
    &__title{
      text-align: right;
      padding-right: $spacing-h-lg;
    }
  }
}

