
@import '../../assets/style/theme.scss';

.admin-student-list{
  padding: 0;

  .girl{
    background-color: $color-girl;
  }

  .item-thumb{
    border-radius: $border-radius-circle;
    overflow: hidden;
    width: $at-avatar-size-md;
    height: $at-avatar-size-md;
  }
}
