/* Custom Theme */
$color-brand: #37B13F;
$color-brand-light: #79E380;
$color-brand-dark: #0A5E0F;

/*
主色:      #37B13F		#407543		#0A5E0F		#79E380		#A1E3A5
辅助色 A:  #543C9A		#473D67		#1C0A52		#9780DB		#B1A2DB
辅助色 B:  #E1C746		#958A51		#77650C		#F4E182		#F4E8AD
互补色:    #E14946		#955351		#770F0C		#F48582		#F4AFAD
 */
